# Needs a separate file secrets.yaml with the following content
# wifi_ssid: SSID 
# wifi_pasisword: KEY

substitutions:
#  device_name: SonoffS31SmartPlug
#  device_name: SonoffS31SmartPlugLivingRoom1
#  device_name: SonoffS31SmartPlugLivingRoom2
  device_name: BasementSumpPump
#  friendly_name: Sonoff S31 Smart Plug
#  friendly_name: Sonoff S31 Smart Plug Living Room 1
#  friendly_name: Sonoff S31 Smart Plug Living Room 2
  friendly_name: Basement Sump Pump

esphome:
#  name: sonoffs31smartplug
#  name: sonoffs31smartpluglivingroom1
#  name: sonoffs31smartpluglivingroom2
  name: basementsumppump
  build_path: ESPHome${device_name}

esp8266:
  board: esp8285 

wifi:
  ssid: !secret wifi_ssid 
  password: !secret wifi_password
  use_address: ${device_name}.local
#  use_address: 10.0.0.161

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "ESPHomeFallback"
    password: "cvTkuSHWqSIe"

logger:
  baud_rate: 0 # (UART logging interferes with cse7766)

captive_portal:

# Enable Home Assistant API
api:

ota:
  platform: esphome

web_server:
  port: 80

#######################################
# Device specific Config Begins Below #
#######################################

uart:
  rx_pin: RX
  baud_rate: 4800
  parity: EVEN

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: True
    name: "${friendly_name}: Button"
    on_press:
      - switch.toggle: relay
  - platform: status
    name: "${friendly_name}: Status"

sensor:
  - platform: wifi_signal
    name: "${friendly_name}: WiFi Signal"
  - platform: uptime
    name: ${device_name} Uptime
  - platform: cse7766
    current:
      name: "${friendly_name}: Current"
      accuracy_decimals: 1
      filters:
        - throttle_average: 30s
    voltage:
      name: "${friendly_name}: Voltage"
      accuracy_decimals: 1
      filters:
        - throttle_average: 30s
    power:
      name: "${friendly_name}: Power"
      accuracy_decimals: 1
      filters:
        - throttle_average: 30s
      id: my_power
  - platform: total_daily_energy
    name: "${friendly_name}: Daily Energy"
    power_id: my_power
    filters:
      - heartbeat: 60s
    unit_of_measurement: W

switch:
  - platform: gpio
    name: "${friendly_name}"
    icon: "mdi:power-socket-us"
    pin: GPIO12
    id: relay
    restore_mode: ALWAYS_ON

time:
  - platform: sntp
    id: my_time

status_led:
  pin:
    number: GPIO13
    inverted: true

